GITDB_ENCRYPTION=off
GITDB_ROOT=.gitdb-example-public
GITDB_HOST=127.0.0.1
GITDB_PORT=0
GITDB_GITHUB_OWNER=3x-haust
GITDB_GITHUB_REPO=gitdb
GITDB_GITHUB_BRANCH=data
GITDB_GITHUB_PREFIX=examples/express-prisma
GITDB_GITHUB_TOKEN=
API_PORT=3090
